ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    padding: 0;
  }
  li{
    width: 33%;
    height: 100px;
    background: red;
    background-clip: content-box;
    padding: 10px;
    list-style: none;
  }