.column {
  border: 1px solid violet;
  padding: 50px;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.cell {
  padding-top: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}